/* src/RoadmapComponent.css */

.roadmap-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
      align-items: center;
    justify-content: center;
    row-gap: 30px;
}

h1 {
    color: #333;
    font-size:40px;
}

.role-selection {
    margin-bottom: 20px;
     display: flex;
    flex-direction:row;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
}

button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #aa97c1;
    color: white;
    cursor: pointer;
    font-size: 16px;
    width: 200px;
}

button:hover {
    background-color: #b6d2ef;
    color:black
}

.roadmap-details {
    text-align: left;
    margin-top: 20px;
}

.roadmap-details h2 {
    color: #151319;
    font-size: 35px;
}

.roadmap-details ul {
    list-style-type: none;
    padding: 0;
}

.roadmap-details li {
    background-color: #b6b1e66e;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    
}