/* login.css */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

.login-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  
}

.login-left, .login-right {
  flex: 1;
}

.login-left {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 
}

.login-form-box {
  width: 90%;
  max-width: 400px;
  padding: 40px;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 10px 30px rgba(196, 195, 195, 0.718);
}

.login-title {
  font-size: 24px;
  font-weight: 600;
  color: #aa97c1;
  margin-bottom: 30px;
  text-align: center;
}

.form-control {
  border-radius: 30px;
  padding: 12px 20px;
  margin-bottom: 20px;
}

.login-button {
  width: 50%;
  padding: 12px;
  border-radius: 30px;
  background-color: #aa97c1;
  border: none;
  font-weight: 500;
}

.login-or {
  text-align: center;
  margin: 20px 0;
  color: #888;
  font-size: 20px;;
}

.login-forgot {
  text-align: right;
  font-size: 14px;
  margin-bottom: 20px;
  color: #aa97c1;
  cursor: pointer;
}

.login-signup {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}

.login-signup a {
  color: #aa97c1;
  font-weight: 500;
  text-decoration: none;
}

.login-right {
  
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
}

.login-image {
  width: 100%;
  max-width: 700px;
}
